App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Fastlane build output
fastlane/report.xml
fastlane/README.md
*.ipa
*.app.dSYM.zip
vendor/bundle
